{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 3</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="page3">
    <section class="header">
        <div class="title-wrapper">
            <h1 class="sweet-title">
                <span data-text="Text">Text</span>
                <span data-text="Text">Text</span>
            </h1>
            <span class="top-title">Text</span>
            <span class="bottom-title">Text</span>
        </div>
    </section>
</body>
</html>